html,
body {
  height: 100%;
  width: 100%!important;
  color: #00110f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 300;
  overflow-x: hidden;
}

h1,
.h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #00110f;
}

h2,
.h2 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #00110f;
}

h3,
.h3 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #00110f;
}

h4,
.h4 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #00110f;
}

h5,
.h5 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #00110f;
}

h6,
.h6 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #00110f;
}

a {
  color: rgba(175, 175, 175, 1);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

a:hover {
  color: #C60B31;
}

p {
  color: black;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

label {
  color: #B1B1B1;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #EAEEFF !important;
  border: 0;
  padding: 30px 0;

  .container {
    max-width: 1192px;
  }

  .navbar-brand {
    width: 25%;
  }

  .button-border {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
  }

  .menu, .menu-items {
    width: 100%;
    float: right;

    ul {
      margin: auto;

      li {
        width: fit-content;
        float: right;
      }
    }

    .nav-item {
      line-height: 43px;
      text-align: right;
      padding: 0 20px;
      width: 100%;
    }

    .nav-link {
      color: #282222;
      padding: 0;
    }

    a {
      display: flex;
      font-size: 16px;
      font-weight: 600;
      float: right;
    }

  }

  .menu-right {
    width: 25%;

    @media (max-width: 991px) {
      width: 100%;
      margin-top: 10px;
    }

    ul {
      display: flex;
      float: right;
      list-style-type: none;
    }

    a {
      font-size: 16px;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
    }
  }

  @media (max-width: 991px) {
    padding: 10px 0;

    .menu {
      display: none;
    }
    .menu.show {
      display: block;
    }
    .menu-items {
      justify-content: flex-end;

      ul {
        gap: 10px;
        align-items: end;

        li {
          width: fit-content !important;
          float: right;
        }
      }
    }

    .navbar-brand {
      img {
        display: block;
        width: 300px;
        height: 40px;
      }

      .company {
        width: 170px;
      }
    }

    a {
      display: flex;
      font-size: 18px;
      font-weight: 700;
      float: right;
    }
  }

  @media (max-width: 767px) {
    .navbar {
      .navbar-collapse {
        margin-top: 10px;

        .dropdown-menu {
          border: none;
          background-color: transparent;
        }
      }
    }
  }

  .content-header {
  }

  .user-form {
    .content {
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }

  .alert {
    ul {
      display: block;
      margin: 0;
      padding-left: 15px;
    }
  }

  input {
    padding: 15px 15px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #E7E7E7;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    width: 100%;
  }

  input[type="submit"] {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    border-radius: 2px;
    background: #C60B31;
    border-color: #C60B31;
    color: #FFFFFF;
  }

  .script {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
  }

  @media (max-width: 991px) {
    .hide-mobile {
      display: none;
    }
  }

  @media (max-width: 450px) {
    .hide-mobile {
      display: none;
    }

    .navbar-brand {
      img {
        display: block;
        width: 192px;
        height: 30px;
      }

      .company {
        width: 170px;
      }
    }

  }
}

.app-footer {
  padding: 70px 0 50px;
  background: #E8F0FF;

  .title {
    margin-bottom: 30px;
  }

  .container {
    max-width: 1192px;
  }

  h2 {
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
  }

  .margin-small {
    margin-bottom: 5px;
  }

  .margin-large {
    margin-bottom: 30px;
  }

  .enjoy {
    margin-bottom: 5px;
    font-size: 20px;
    color: #3B3B3B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
}

.footer-item-support {
  padding-top:2px;
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: #4B67F9;
    text-decoration: underline;
  }

  img {
    margin-right: 5px;
  }
}

.footer-item-link {
  a {
    color: #3C3C3C;
    text-decoration: none;
  }

  a:hover {
    color: #4B67F9;
    text-decoration: underline;
  }
}

.footer-text{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  a {
    color: #4B67F9;
    text-decoration: none;
  }

  a:hover {
    color: #4B67F9;
    text-decoration: underline;
  }
}

.footer-item {
  font-family: Barlow, serif;
  padding: 20px 10px;
}

.footer-item-title {
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 10px;
  color: #2943CA;
}

.footer-copyright {
  border-top: 1px solid #8E8E8E66;
  background: #E8F0FF;
  color: #A6A6A6;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  padding: 30px 0;
  justify-content: center;
}

@media (max-width: 991px) {
  .hide-mobile {
    display: none;
  }
}
